{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title|default:"Менеджер задач" }}</title>
    <link rel="stylesheet" href="{% static 'todo/css/styles.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</head>
<body>
    <div class="custom-header">
        <div class="custom-container">
            <a href="{% url 'home' %}" class="logo-link">
                <img src="{% static 'todo/img/logo3.webp' %}"
                alt="Менеджер задач" class="logo-img">
            </a>
            <div class="right-links">
                {% if user.is_authenticated %}
                <span class="username">{{ user.username }}</span>
                <form action="{% url 'users:logout' %}" method="POST" class="logout-form">
                    {% csrf_token %}
                    <button type="submit" class="ui basic button logout-button">
                    <i class="sign-out icon"></i> Выйти
                    </button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="ui container">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>