{% extends 'todo/layout.html' %}

{% block content %}
<div style="margin-top: 50px;" class="ui container">
    <h1 class="ui center aligned header">Вход</h1>
    <form class="ui form" method="post" novalidate>
        {{ form.hidden_tag() }}
        <div class="field">
            <label>{{ form.email.label.text }}</label>
            {{ form.email(size=32) }}
            {% for error in form.email.errors %}
            <div class="ui red message">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="field">
            <label>{{ form.password.label.text }}</label>
            {{ form.password(size=32) }}
            {% for error in form.password.errors %}
            <div class="ui red message">{{ error }}</div>
            {% endfor %}
        </div>
        <div class="field">
            <div class="ui checkbox">
                {{ form.remember() }}
                <label>{{ form.remember.label.text }}</label>
            </div>
        </div>
        {{ form.submit(class="ui teal basic button") }}
    </form>
    <p>Новый пользователь? <a href="{{ url_for('register') }}">Зарегистрируйтесь!</a></p>
</div>

<script>
$(document).ready(function() {
    $('.ui.checkbox').checkbox();
});
</script>
{% endblock %}